.compra-bentonita{
    background-color: #dfeeee;
    padding: 2rem;
}

.compra-bentonita-title{
    font-size: 38px;
    color: #424A4F;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    margin-bottom: 1rem;
}

.compra-bentonita-data{
    font-family: 'Lato', sans-serif;
    margin-bottom: 1rem;
    color: #424A4F;
}

.button-compra-bentonita{
    align-items: center;
    margin-top: 1.25rem;
}

#formulario{
    display: flex;
    flex-direction: column;
    margin-right: 0.75rem;
}

@media (min-width: 1024px){

    .container-compra-bentonita{
        margin: 0rem 1rem;
    }

     .compra-bentonita-title{
        font-size: 3rem;
    }
    
     .compra-bentonita-data{
        font-size: 1.15rem;
    } 
 
    .container-compra-bentonita{
        display: flex;
    }

    .texto-compra-bentonita,
    .formulario-compra-bentonita{
        padding: 1.5rem 3rem;
    }

    #formulario{
        margin-right: 0rem;
    }
}



@media (min-width: 1280px){

    .compra-bentonita-title{
        margin-top: 1rem;
        font-size: 3.5rem;
    }
    
     .compra-bentonita-data{
         margin-top: 2rem;
        font-size: 1.5rem;
    } 
}