.propiedades{
    background-color: #f0f7f7;
    padding: 3rem 0;
}

.title-propiedades{
    font-size: 1.7rem;
    font-weight: 300;
    font-family: 'Roboto Slab', serif;
    color: #424A4F;
    line-height: 1.3;
    margin: 0 0.25rem;
}

.cards-propiedades{
    display: flex;
    flex-direction: column;
    margin: 0px 1.65rem;
}

.img-card{
    border-radius: 25%;
    max-height: 80px;
    margin-top: 4rem ;
}

.title-cards{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
    color: #424A4F;
}

.data-cards{
    font-family: 'Lato', sans-serif;
    color: #424A4F;
    margin: auto;
}

@media (min-width: 768px){

    .cards-propiedades{
        flex-direction: row;
        padding: 0px -5rem;
        margin: 0px 0rem;
        height: 120%;
    }

    .cards{
        padding: 0px 2rem;
    }

    .data-cards{
        font-size: 17px;
    }
}

@media (min-width: 1024px){

    .title-propiedades{
        font-size: 35px;
        margin: auto;
    }


    .data-cards{
        font-size: 20px;
        margin: auto;
    }

    .cards{
        padding: 0px 5rem;
        /* width: 33.3%; */
        margin: auto;
    }

}