.banner{
    background: linear-gradient(rgba(2, 2, 2, 0.7), rgba(0, 0, 0, 0.7)), url('../../../public/assets/banner/yacimiento.jpeg') center;
    background-size: cover;
    width: 100%;
    padding: 18vh 10vw;
}

.title-banner{
    font-family: 'Roboto Slab', serif;
    color: #00ACBB;
    font-size: 15vw;
}

.subtitle-banner{
    font-family: 'Roboto Slab', serif;
     font-size: 7vw;
     color: #fff;
     font-weight: 200;
}

#inicio .btn-secondary{
    background-color: #00ACBB;
    border: none;
    padding: 0.75rem 2rem;
}


@media (min-width: 768px){
    
    .title-banner{
        font-size: 12vw;
    }

    .subtitle-banner{
        font-size: 4.5vw;
    }
    

@media (min-width: 1024px){

    .banner{
        width: 100%;
        padding: 14vh 10vw;
    }
    
    .title-banner{
        font-size: 7vw;
    }

    .subtitle-banner{
         font-size: 3vw;
    }

}
}
